aiofiles==24.1.0
aiosqlite==0.21.0
alembic==1.14.1
annotated-types==0.7.0
anyio==4.8.0
asgi-correlation-id==4.3.4
azure-common==1.1.28
azure-core==1.32.0
azure-search-documents==11.5.2
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
certificates==2.0.0
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.8
cobble==0.1.4
contourpy==1.2.0
cryptography==44.0.0
cycler==0.12.1
decorator==4.4.2
defusedxml==0.7.1
distro==1.9.0
dnspython==2.7.0
ecdsa==0.19.0
email_validator==2.2.0
et_xmlfile==2.0.0
fastapi==0.115.8
fastapi-project-generator==0.1.4
fonttools==4.47.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.7
imageio==2.36.0
imageio-ffmpeg==0.5.1
inflect==7.5.0
isodate==0.7.2
Jinja2==3.1.6
jiter==0.8.2
kiwisolver==1.4.5
lxml==5.3.0
Mako==1.3.9
mammoth==1.9.0
markdownify==0.14.1
markitdown==0.0.1a3
MarkupSafe==3.0.2
matplotlib==3.8.2
more-itertools==10.6.0
moviepy==1.0.3
nest-asyncio==1.6.0
numpy==1.26.3
openai==1.68.2
openpyxl==3.1.5
packaging==23.2
pandas==2.2.3
pathvalidate==3.2.3
pdfminer.six==20240706
pgvector==0.3.6
pillow==10.2.0
proglog==0.1.10
psycopg==3.2.4
psycopg-binary==3.2.4
puremagic==1.28
pyasn1==0.6.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
PyJWT==2.10.1
PyMySQL==1.1.1
pyodbc==5.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.20
python-pptx==1.0.2
pytube==15.0.0
pytubefix==6.16.3
pytz==2025.1
regex==2024.11.6
requests==2.31.0
rsa==4.9
setuptools==75.3.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SpeechRecognition==3.14.1
sqlacodegen==3.0.0
SQLAlchemy==2.0.38
sqlmodel==0.0.24
sse-starlette==2.2.1
starlette==0.45.3
tavily-python==0.5.1
tiktoken==0.8.0
tqdm==4.67.0
typeguard==4.4.2
types-SQLAlchemy==1.4.53.38
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.1
uvicorn==0.34.0
validators==0.34.0
XlsxWriter==3.2.2
youtube-transcript-api==0.6.3
yt-dlp==2024.11.4
